<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
    <script>
        function update() {
            var dat = $("#greetxt").val();
            if (dat.length != 0) {
                $("#greeting").text(dat);
            }
            dat = $("#bgc").val();
            $("#birthday").css("background-color", dat);
            dat = $("#font").val();
            $("#birthday").css("font-family", dat);
            dat = $("input[name='border']:checked").val();
            $("#birthday").css("outline", dat);
            dat = $("input[name='defa']:checked").val();
            if (dat != "useimg") {
                $("#pic").css("opacity", 0);
            }
            else {
                $("#pic").css("opacity", 100);
            }
        }
    </script>
</head>
  <body>
    <div id="parent">
      <div id="birthday">
        <h1 id="greeting">Happy birthday and many more!</h1>
        <br />
        <img src="UDUPI.jpg" alt="Photo" id="pic" />
      </div>

      <div id="control">
        <label for="bgc">Select the background color</label>
        <select name="bgc" id="bgc">
          <option value="yellow">yellow</option>
          <option value="blue">blue</option>
          <option value="red">red</option>
        </select>
        <br />
        <br />
        <label for="font">Select the font type</label>
        <select name="font" id="font">
          <option value="arial">arial</option>
          <option value="cursive">cursive</option>
        </select>
        <br />
        <br />
        <label for="double">Double</label>
        <input type="radio" name="border" value="double" />
        <label for="single">Single</label>
        <input type="radio" name="border" value="solid" />
        <label for="none">None</label>
        <input type="radio" name="border" value="none" />
        <br />
        <br />
        <label for="defimg">Use default image</label>
        <input type="checkbox" name="defa" id="defimg" value="useimg"/>
        <br />
        <br />
        <label for="greetxt">Enter the greeting text</label>
        <input type="text" id="greetxt" placeholder="Text" />
        <button onclick="update()">Update</button>
      </div>
    </div>
  </body>
</html>
